# Prerequisites

*.d



# Compiled Object files

*.slo

*.lo

*.o

*.obj



# Precompiled Headers

*.gch

*.pch



# Compiled Dynamic libraries

*.so

*.dylib

*.dll



# Fortran module files

*.mod

*.smod



# Compiled Static libraries

*.lai

*.la

*.a

*.lib



# Executables

*.exe

*.out

*.app
.vscode/ipch/8b4e99326c9bd398/mmap_address.bin
.vscode/ipch/1a1fd8f210159430/MAIN.ipch
